/* Browser Default CSS Reseter*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style-type: none;
  color: black;
  font-family: Montserrat, sans-serif;
}

/*For min width 1200 to up*/
  #main_container {
    max-width: 1440px;
    /*Centering the main container to the center using margin property*/
    margin: 0 auto;

    /*bg -color needed to be removed after styling  #4444*/
    /* background-color: burlywood; */
  }

  #navigation_container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding: 30px 20px;

    /*border needed to be removed after styling #4444*/
    /* border:1px solid blue; */
  }

  #navigation_container .user_name_logo_container {
    width: 237px;
    /* border-color: red; #4444 */
  }

  #navigation_container .user_name_logo_container img {
    width: 100%;
    vertical-align: bottom;
  }

  #navigation_container .nav_buttons_container ul {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
  }

  #navigation_container .nav_buttons_container ul > li {
    padding: 4px 7px;
  }

  #navigation_container .nav_buttons_container ul > li:hover {
    background-color: rgb(218, 235, 235);
    /* rotate: calc(360); */
    background: #eaeaea;
   animation: vibrate 0.3s linear;
  }
  @keyframes vibrate {
  0%   { transform: translateX(0); }
  20%  { transform: translateX(-2px); }
  40%  { transform: translateX(2px); }
  60%  { transform: translateX(-2px); }
  80%  { transform: translateX(2px); }
  100% { transform: translateX(0); }
}

  #hero_area {
    display: flex;
    align-items: center;
    gap:120px;
    padding: 22px;
    margin-top: 35px;
  }

  #hero_area .text_section {
    max-width: 860px;
  }

  #hero_area .text_section h1{
    color: #000 !important;
    font-size: 64px;
    line-height: 1.2;
    margin-block: 42px;
  }

  #hero_area .text_section p{
    color: #000 !important;
    font-weight: 500;
    margin-bottom: .6rem !important;
    opacity: .75;
    font-size: 22px;
    margin-top: 60px;
  }

  #hero_area .text_section .social_media_section ul{
    display: flex;
    gap: 10px;
  }

  .hero_image_section {
    width: 328px;
    min-width: 258px;
  }

